<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="[%d{${LOG_DATEFORMAT_PATTERN:-HH:mm:ss.SSS}}][%11.-11t][%c{1}] %highlight{%5.-7p: %m}{SUCCESS=green, FATAL=Blink black BG_Red, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=black bright, TRACE=blue}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>